<%= form_with model: monster do |form| %>
  <%= form.text_area :name, placeholder: @monster.name, size: "30x1", disabled: true %>
  <%= form.text_area :description, placeholder: @monster.description, size: "30x3" %>
  <%= form.text_field :phone, label: @monster.phone %>
  <%= form.date_field :birthdate, label: @monster.birthdate %>
  <br><br>

  <div class="centrado"><%= form.submit "Actualizar Monstruo", class: "btn btn-primary mb-2" %></div>
<% end %>